*{
    margin:0;
    padding:0;
}

.container{
    width:100%;
    height:100vh;
    background:black;
}

.navbar{
    width:100%;
    height:100px;
    background:dodgerblue;
}

ul{
    display:flex;
    list-style: none;
    position:relative;
    top:30px;
}

ul a{
    text-decoration: none;
    color:white;
    margin:10px;
    font-size:18px;
}

.main{
    width:100%;
    height:500px;
    background:transparent;
    color:white;
    
}
.main p{
    width:700px;
    font-size:20px;
    position:relative;
    top:50px;
    left:400px;
    text-align: center;
}

#btnlearn{
    width:200px;
    height:50px;
    background:dodgerblue;
    color:white;
    position:relative;
    top:200px;
    left:650px;
    border:none;
    cursor:pointer;
}

.footer{
    width:100%;
    height:100px;
    background:dodgerblue;
    color:white;
    position:relative;
    top:90px;
}

.footer h3{
    text-align:center;
    position:relative;
    top:30px;
}